

body{
    margin:0;
    padding: 0;
    text-align: center;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}

/* ---------------------------------navbar------------------------*/

.navbar-container{
    height: 10vh;
    width: 100vw;
}
.navbar{
    background-color: black;
    height:15vh;
    width: 100vw;
    margin: 0 auto 0 auto ;
    position: fixed;
    top: 0;
    z-index: 3;
   
    
    }
.navbar-ul{
list-style-type: none;
margin:0;
padding:5vh 13vw 1.5vh 0;
text-align: right;

}
.navbar-li{
    display:inline;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: light;
    padding: 0 0.5vw;
}
.li1{
    text-decoration:none;
    color: gold;
}
.li1:hover{
    color: aliceblue;
}
.orji{
    float: left;
    height:8vh;
    width: 15vw;
    margin: 3.7vh auto 0 16vh;
}
/*-----------------------sec-1---------------------------------*/
.HOME{
    width: 100vw;
    height: 100vh;
    
}

/* ---------------------background image------------------------*/
.background-img{
height: 100vh;
width: 100vw;
background-size: cover;


 

}
/*-------------------text on home page--------------*/
.homepg-text{
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: bold;
    height:fit-content;
    width:100vw;
    position: absolute;
    z-index: 2;
    margin-top: 10vw;
   
}
.txt1{
   font-size: 5rem;
   margin: 0vh auto 2vh;
    color: white;
    
}
.txt2{
    font-size: 3rem;
    margin: 3vh auto 0;
    color:white;
}
/*--------------------sec-2-----------------------*/
.sec-2{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    
}
.section2{
    height: 100vh;
    width: 100vw;
    margin-bottom: 20vh;
    

}
.header-2{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: bold;
    font-size: 8vh;
   margin: 30vh 0 0 40vw;
   position: absolute;
}
.ser-2{
    height: 100vh;
    width: 100vw;
    display:flex;
    flex-direction:row;
    position: absolute;
    margin-top: 50vh;
    
}
.serr-3{
    height: fit-content;
    width: 28vw;
    margin-left: 14vw;
    margin-right: 5vw;

}
.serr-4{
    height: fit-content;
    width: 37vw;
    margin-left:5vw;
    margin-right: 10vw;
   

}
.img-2{
    height: 18vh;
    width: 9vw;
   
}
.img-3{
    height: 17vh;
    width: 11vw;

}
.txt-3{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin: 0;
    padding: 0;
 

}
.txt-4{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin: 0;
    padding: 0;
   
    

}
.pg-3{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: 400;
    color: grey;
    
}
.pg-4{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: 400;
    color: grey;
}
.pop{
    margin: 0 0 0 0;
    
}
p{
    margin: 0.6vh 0 0 0;
}
/*--------------------sec-3---------------------------------------------*/
.SKILLS{
height: 100vh;
width: 100VW;
padding-top: 30vh;
}
.skkk{
    height: 100vh;
    width: 100vw;
}
.header3{
    margin: 1vh auto 0vh;
    justify-content: space-evenly;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: bold;
    font-size: 8vh;


}


.skill-box {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   text-align: center;
   font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
   font-size: 28px;
   font-weight: 400;
   color: gray;
}
.skill-boxes{
    margin: 5vh;
}
/*-------------------------sec-4---------------------*/

.section4{
    height: 100vh;
    width: 100vw;
}

.contact-header{
    position: absolute;
    color: white;
    height: 50vh;
    width: 100vw;
    margin: 10vh auto 5vh;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 6.5vh;
}
.contact-me{
    margin-right: 3vw;
}
.contact-img{
    height: 100vh;
    width: 100vw;
}
.form-box{
    width: 100vw;
    height: fit-content;
    position: absolute;
    margin:40vh auto 5vh;

}
.main-box{
    display: flex;
    flex-direction: row;
}
.large-box{
height: fit-content;
width: 50vw;
margin-left: 9vw;

}
.contact-box{
    height: 10vh;
    width: 39vw;
    margin-bottom: 3vh;
    margin-right:0;
    
}
.input{
    height: 10vh;
    width: 33vw;
    border-radius: 1vh;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 3.9vh;
    font-weight: 400;
    border: 0.8px solid white;
    padding-left: 1.3vw;

}
.larger-box{
    height: fit-content;
    width: 50vw;
    margin-right:15vw;
}
.txtarea{
    height: 40vh;
    width: 40vw;
    border-radius: 1vh;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 3.9vh;
    font-weight: 400;
    border: 0.8px solid white;
    padding-left: 1.3vw;
    padding-bottom: 10px;
}
.button{
    position: absolute;
    margin: 47vh auto 10vh 40vw;
}
.btn{
    height: 10vh;
    width: 17vw;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 2vh;
    font-weight: 900;
    border-radius: 10px;
    background-color:rgb(245, 211, 22);
    color: white;
    border-color: gold;
    border: 1px;
}
.btn:hover{
    background-color: white;
    color: gold;
}
/*------------------------footer-----------------*/
footer {
    height: 10%;
 
 }
 
 .footer-container {
    width: 100%;
 
 }
 .foot-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
 }
 .bottom{
    position: absolute;
    left: 8vw;
 }

 .copyright {
    font-size: 2.5vh;
    text-transform: none;
    color: #b7babd;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
   }

.footer-ul{
    list-style-type: none;
}
.links{
    display: inline-block;
}
.footer-img {
 height: 3vw;
 width: 3vw;
 margin: 2vh;
}




